/* 
File: base.less 
Author: David Goosem;
Desciption: Basic definitions for Creative-404.com
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Base
---------------------------------------- */
* {
	background-repeat: no-repeat;
}

html {
	font-family: @baseFontFamily; 
	font-size: @baseFontSize;
	background-color: lighten(@backgroundGrey, 5%);
	color: @textColor;
	height: 101%;
}

body {
	line-height: @baseLineHeight;
	background-position: top center;
	background-repeat: repeat-x;
	background: lighten(@backgroundGrey, 5%);
	/*background-image: url(img/body_header.jpg);*/
}

.main {
	/*background: @main-bg;*/
	padding: 0.7692307692307692em 0;
	min-height: 600px;
}

footer {
	background: darken(@darkGrey, 10%);
	padding: 0.7692307692307692em 0;
}



/* Typography
-------------------- */

.invert {
	color: @white;
}

.branding {
	color: @branding;
}

.highlight {
	color: @highlight;
}

h1, h2, h3, h4, {
	font-family: @headings;
	font-weight: 700;
	margin: 0;
	line-height: @baseLineHeight;
	color: @headingColor;
}

h1 {
	font-size: 2.769230769230769em; /* 36px */
	margin-bottom: 0.5em; /* 18px */
}

h2 {
	font-size: 1.846153846153846em; /* 18px */
	margin-bottom: 1em;
}

h3 {
	font-size: 1.230769230769231em; /* 16px */
	margin-bottom: 1.125em;
}

h4 {
	font-size: 1em; /* 13px */
}

p {
	margin-bottom: @baseLineHeight;
}

ul {
	list-style: disc;
}

ol {
list-style: decimal;
}

ul, ol {
	padding: 0;
	margin: 0 0 9px 25px;
}

ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0
}

strong {
	font-weight: bold;
}

.strong {
	font-weight: bold
}

::selection {
	color: @white;
	background: @pink;
}

/* Links
-------------------- */

a {
	color: @linkColor;
	text-decoration: none;
	&:hover {
		color: @menuColorHover;
		text-decoration: none;
	}
}