// content-title.less

.content-title-strip
{
	position: relative;
	width: 100%
	padding: 15px 25px 0 25px;
	height: 200px;
	margin-top: -140px;
}

.inner-wrapper
{
	margin: auto;
	width: 960px;
}

.content-title
{
	position: absolute;
	width: 600px;
	background-color: rgba(0,0,0,0.2);
	margin: 85px 0 0 0;
//	margin-top: 100px;
	height: 50px;
	padding: 20px 0 25px 0;
	.border-radius(5px);
	.box-shadow();
}

.title-text
{
	padding-left: 20px;
	
}

.content-title-image
{
	position: relative;
	float: right;
	margin: 60px 100px 0 0;
}