/* Special grid styles
-------------------------------------------------- */
.selection {
  padding-top: 20px;
}
.show-grid {
  margin-top: 30px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #999;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
}
.show-grid:hover [class*="span"] {
  background: #666;
}
.show-grid .show-grid {
  margin-top: 30px;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}