/*footer.less*/

.footer-wrapper
{
	width: 100%;
	background: url("images/d-background.png") repeat scroll 0 0 transparent;
	height: 200px;
	padding-top: 20px;
}
.footer-content
{
	width: @bodyWidth;
	margin: auto;

}

.footer-bottom-links
{
	float: left;
	width: 100%;
}

.copyright
{
	padding-top: 14px;

	span
	{
		float: right;
		a
		{
			text-decoration: underline;			
		}

	}
}

.footer-links
{
	ul
	{
		text-decoration: underline;
		list-style-type: none;
		padding: 0;
		margin: 0 0 20px 0;
	}
}