// forms.less
// Author: Dave Goosem 2012

.login-form
{
	position: relative;
	width: @bodyWidth;
	padding: 15px 25px 0 25px;
	margin: auto;
	cursor: default;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 100%;

	background-color: #141517;
	.border-radius(6px);
	.box-shadow();

	&:before
	{
		position: absolute;
		top: -16px;
		left: 10px;
		width: 0px;
		height: 0px;
		content: '';

		border-bottom: 10px solid #141517;
		border-right: 10px solid #141517;
		border-top: 10px solid transparent;
		border-left: 10px solid transparent;
	}
	h2, h1
	{
		margin-left: 170px;
		line-height: @baseLineHeight;
		font-family: @baseFontFamily;
		color: @headingColor;
	}
	.form-text
	{
		margin-left: 170px;
		line-height: 4px;
	}
	span
	{
		margin-top: 15px;
		float: left;
	}

	input[type=text], input[type=password], input[type=MultiLine]
	{
		position: relative;
		margin: 10px 0;
		padding: 6px 15px;
		border: 0;
		outline: none;
		text-shadow: 0px 1px 1px rgba(255,255,255, .2);
		.border-radius(6px);
		.transition();
		color: 686868;
		width: 170px;
		.box-shadow();
		background: #989898;
		#gradient > .horizontal(#ffffff, #989898);

		&:hover
		{
			.box-shadow(1px 1px 1px 0 rgba(255,255,255, .6));
		}
		&:focus
		{
			background: #e1e1e1;
			#gradient > .horizontal(#ffffff, #e1e1e1);
		}
	}

	input[type=File]
	{
		position: relative;
		margin: 10px 0;
		padding: 6px;
		border: 0;
		outline: none;
		text-shadow: 0px 1px 1px rgba(255,255,255, .2);
		.border-radius(6px);
		color: 686868;
		width: 170px;
	
	}
}

.form-label
{
	position: relative;
	margin-right: 5px;
	margin-top: 12px;
	width: 150px;
	font-weight: bold;
}

.validation-text
{
	position: absolute;
	width: 400px;
	right: -20px;
	bottom: 15px;
	color: @red;
	font-weight: bold;
}

.form-wrapper
{
	margin-left: 170px;

}

.control-group
{
	position: relative;
}

.normal-heading
{
	h2
	{
		margin: 10px 0 40px 0;
	}	
}

.donate-button
{
	position: relative;
	padding: 0 0 15px 440px;
}

.paypal-form
{
	position: relative;
	font-size: 15px;
	margin-bottom: 100px;
}

.form-button
{
	position: relative;
	margin: 10px 0;
	padding: 6px 15px;
	border: 0;
	outline: none;
	text-shadow: 0px 1px 1px rgba(255,255,255, .2);
	.border-radius(6px);
	.transition();
	background: #a5cd4e;
	#gradient > .horizontal(#a5cd4e, #6b8f1a);
	cursor: pointer;
	color: #445b0f;
	font-weight: bold;
	.box-shadow(1px 1px 1px 0px rgba(255,255,255, .45));

	&:hover
	{
		.box-shadow(1px 1px 1px 0 rgba(255,255,255, .8));
		color: @darkGrey;
	}

	&:active
	{
		box-shadow: none;
	}
}

.donate-content-image
{
	margin: 0 0 20px 230px;
}

.forgot-password
{
	text-decoration: underline;
}