
hr {
	margin-top: 30px;
	border: 0
	color: #fff;
}


.container {width: 960px; margin: 0 auto; padding-top: 20px;}
.column{float:left; height: 100%; margin: 0 10px;}
.size1of1{float:none;}
.size1of3{width:300px;}
.size2of3{width:620px;}
.size1of4{width:220px;}
.size2of4{width:460px;}
.size3of4{width:700px;}
.nest {margin-right: 0;margin-left: 20px;}
.first {margin-left: 0;}


// GRID SYSTEM
// -----------

// Fixed (940px)
#gridSystem > .generate(@gridColumns, @gridColumnWidth, @gridGutterWidth);

// Fluid (940px)
#fluidGridSystem > .generate(@gridColumns, @fluidGridColumnWidth, @fluidGridGutterWidth);
