/*Header.less*/

.headerMain
{
	width: 100%;
	background: url("images/a10.png") center top repeat;
	background-color: @headerBackground;
	height: 215px;
	border-bottom: 3px solid @borderBody;	
}
.headerWidth
{
	width: @bodyWidth;
	margin: auto;
}

.logo
{
	h3 
	{
		color: @white;
		padding-top:20px;
	}
}


.login-links
{
	position: relative;
	float: right;
	margin: -56px 5px 0 0;
	background: url("images/menu.png") repeat scroll 0 0 transparent;
	.box-shadow();
	.border-radius(6px);
	transparency: 25%;
	color: @navBackground;
	height: 20px;
	padding: 5px 10px;
	a
	{
		.border-radius(6px);
    	font-size: 14px;
    	//padding: 10px 20px;
    	color: @menuColor;

		&:hover
		{
  		color: @menuColorHoverDarker;
		}
	} 
}

.welcomeText
{
  position: relative;
  background: none;
  float: right;
  margin: -50px 85px 0 0;
}