/*Top Nav Bar*/

.nav 
{
  margin: 0;
  padding: 0;
  list-style: none;
  background: url("images/menu.png") repeat scroll 0 0 transparent;
  .box-shadow();
  .border-radius(6px);
  transparency: 10%;
  color: @navBackground;
  float: right;
  position: absolute;
  width: auto;
  height: 50px;
  right: 0;
  li 
  {
    display: inline-block;
    height: 30px;    
    margin-top: 14px;
    a 
    {
 		  .border-radius(6px);
      display: relative;
      font-size: 1.384615384615385em;
      zoom: 1;
      padding: 10px 20px;
      color: @menuColor;
      
      &:hover
      {
        color: @menuColorHoverDarker;
      }

    }
    &:first-child 
    {
		  a 
		  {
			 border-left: none;
		  }

    ul
    {
      margin: 14px 0 0 0 ;
    }
	}
    &.active 
    {
      a 
      {
        #gradient .vertical(@grey,lighten(@grey,10%));
        border-bottom-color: @white;
        background: @lightGrey;
        color: @menuColorHoverDarker;
        .border-radius(6px);
        vertical-align: bottom;
        .box-shadow();
        width: 100%;

      }
    }
    &:hover
    {
      .border-radius(6px);
      top: -10px;
      color: @menuColorHoverDarker;
    	ul
    	{
    		display: block;
    		position: absolute;
    		color: @menuColorHoverDarker;
    	}
    	li
    	{
    		list-style: none;
    		display: list-item;
    		a
    		{
    			margin-left: 0px;
          margin-top: 20px;
    			border: none;
          background: url("images/menu.png") repeat scroll 0 0 transparent;
 				  .box-shadow();
 				  padding: 10px 40px;
    		}
    	}
    }
    ul
    {
    	display: none;
    	padding: 0;
    	margin: 0;
    }
  }

  .submenu
  {
    margin: 14px 0 0 0;
  }

}