.gallery-wrapper
{
	position: relative;
	width: @bodyWidth;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 550px;
	text-align: center;
}

.image-thumb-wrapper
{
	width: 150px;
	float: left;
	margin: 15px;
	height: 250px;

	background-color: #141517;
	.border-radius(6px);
	.box-shadow();
}

.image-thumb
{
	height: 100px;
	width: 120px;
	margin: 5px 15px 0;
}

.image-title
{
	position: relative;
	margin-top: 10px;
}

.image-description
{
	margin-top: 10px;
}

.image-social
{
	margin-top: 10px;
	margin-bottom: -4px;
}


