/*Login form .less*/

.login-form
{
	position: relative;
	width: 200px;
	height: 200px;
	padding: 15px 25px 0 25px;
	margin-top: 15px;
	cursor: default;

	background-color: #141517;
	.border-radius();
	.box-shadow();

	&:before
	{
		position: absolute;
		top: -12px;
		left: 10px;
		width: 0px;
		height: 0px;
		content: '';

		border-bottom: 10px solid #141517;
		border-right: 10px solid #141517;
		border-top: 10px solid transparent;
		border-left: 10px solid transparent;
	}
	h2
	{
		line-height: @baseLineHeight;
		font-family: @baseFontFamily;
		color: @textColor;
	}
	span
	{
		position: relative;
		margin-top: 15px;
		float: left;
	}

	input[type=text], input[type=password]
	{
		margin: 10px 0;
		padding: 6px 15px;
		border: 0;
		outline: none;
		text-shadow: 0px 1px 1px rgba(255,255,255, .2);
		.border-radius(26px);
		.transition();
		color: 686868;
		width: 170px;
		.box-shadow();
		background: #989898;
		#gradient > .horizontal(#ffffff, #989898);

		&:hover
		{
			.box-shadow(1px 1px 1px 0 rgba(255,255,255, .6));
		}
		&:focus
		{
			background: #e1e1e1;
			#gradient > .horizontal(#ffffff, #e1e1e1);
		}
	}
	input[type=submit]
	{
		margin: 10px 0;
		padding: 6px 15px;
		border: 0;
		outline: none;
		text-shadow: 0px 1px 1px rgba(255,255,255, .2);
		.border-radius(26px);
		.transition();
		background: #a5cd4e;
		#gradient > .horizontal(#a5cd4e, #6b8f1a);
		float: right;
		cursor: pointer;
		color: #445b0f;
		.box-shadow(1px 1px 1px 0px rgba(255,255,255, .45));

		&:hover
		{
			.box-shadow(1px 1px 1px 0 rgba(255,255,255, .8));
		}

		&:active
		{
			box-shadow: none;
		}
	}

}

.js
{
	.login-form
	{
		input[type=checkbox]
		{
			position: fixed;
			left: -9999px;
		}
		label
		{
			position: absolute;
			top: 1px;
			left: 25px;
		}
		span
		{
			color: #686868;
			width: 16px;
			height: 16px;
			cursor: pointer;
			.border-radius(2px);
			
			.box-shadow();
			background: 989898;
			#gradient > .horizontal(#ffffff, #989898);

			.checked
			{
				&:before
				{
					content: '';
					position: absolute;
					top: 4px;
					left: 4px;
					width: 8px;
					height: 8px;
					.box-shadow(0px 1px 1px 0px);
				}
			}
		}
	}

}