/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */

.mainSliderWrapper
{
	width: @bodyWidth;
	margin: auto;
    padding-bottom: 50px;
    margin-top: -100px;
}

 .futurico-theme.slider-wrapper 
{
    position: relative;
    width: 950px;
    height: 300px;
    margin: 0;
    padding: 5px;
 
    background: #141517;
    /*background: #333333;*/

 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
.futurico-theme .nivoSlider 
{
    position: relative;
    width: 950px;
    height: 300px;
}
 
.futurico-theme .nivoSlider img 
{
    display: none;
    position: absolute;
    width: 290px;
    height: 170px;
    top: 0;
    left: 0;
}

.futurico-theme .nivo-controlNav
{
	position: absolute;
	bottom: -30px;
	left: 400px;
}


.futurico-theme .nivo-controlNav a 
{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    text-indent: -9999px;
 
    background: #141517;
 
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
 
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
    box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
}

.futurico-theme .nivo-controlNav a.active, .futurico-theme .nivo-caption span 
{
    background: @menuColorHover;
    background: -moz-linear-gradient(top,  @menuColorHover 0%, @headingColor 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@menuColorHover), color-stop(100%,@headingColor));
    background: -webkit-linear-gradient(top,  @menuColorHover 0%,@headingColor 100%);
    background: -o-linear-gradient(top,  @menuColorHover 0%,@headingColor 100%);
    background: -ms-linear-gradient(top,  @menuColorHover 0%,@headingColor 100%);
    background: linear-gradient(top,  @menuColorHover 0%,@headingColor 100%);
	 
    -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
    -moz-box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
}

.futurico-theme .nivo-directionNav a 
{
    display: block;
    top: 140px;
    font-family: 'Consolas', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #141517;
    /*color: #333333;*/
    text-shadow: 0px 1px 1px rgba(255,255,255, .05);
}
	 
.futurico-theme a.nivo-prevNav 
{ 
	left: -80px; 
}
	 
.futurico-theme a.nivo-nextNav 
{ 
	right: -80px; 
}


.futurico-theme .nivo-caption 
{
    padding: 5px 0;
 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #e1e1e1;
 
    background: #000000;
 
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
 
.futurico-theme .nivo-caption span 
{
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px 1px 5px;
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
.futurico-theme .nivo-caption em 
{
    font-family: Georgia, sans-serif;
    font-size: 11px;
    color: #727581;
}
 
/* The Nivo Slider styles */
.nivoSlider 
{
	position:relative;
}
.nivoSlider img 
{
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink 
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice 
{
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box 
{
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption 
{
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.nivo-caption p 
{
	padding:5px;
	margin:0;
}
.nivo-caption a 
{
	display:inline !important;
}
.nivo-html-caption 
{
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a 
{
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav 
{
	left:0px;
}
.nivo-nextNav 
{
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a 
{
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active 
{
	font-weight:bold;
}

