/*Navbar.less*/

.library {
	position: relative;
	z-index: 1000;
	width: 100%;
	margin-bottom: 20px;
	list-style: none;
/*	#gradient .vertical(@grayDark,darken(@grayDark,10%));*/
/*	.box-shadow();*/
	.library-nav {
		li {
			height: 40px;
			line-height: 40px;
			margin-right: 10px;
			a {
				color: @white;
				display: block;
				font-size: 1.384615384615385em;
				padding-left: 1.538461538461538em;
			}
			&:first-child {
				border-left: 0;
				a {
					padding-left: 0
				}
			}
		}
	}
}