/*
 * Teasers.less
 * Copyright 2012 Dave Goosem
 */

.teaser-wrapper
{
	padding: 75px 0 40px 0;
	width: 100%;
	max-width: @bodyWidth;
	margin: 20px auto 145px auto;
	p
	{
		padding: 0.5em;
		margin: 0 0 15px 0;
		line-height: 1.6em;
	}
	a
	{
		@linkColor;
		&:hover
		{	
			color: @linkHover;
		}
		p
		{
			color: @white;
		}
	}
	
}
.teaser-section
{
	width: 22.91%;
	margin: 0 1.04%;
	text-align: center;
	position: relative;
	float: left;
}

.teaser-blurb
{
	height: 100px;
}
.teaser-icon
{
	background: url(../gfx/visual/icon-shine.png) no-repeat 0 0;
	position: absolute;
	top: -120px;
	left: 50%;
	margin-left: -46px;
}
.teaser-top-link
{
	width: 100px;
	height: 100px;
	display: block;
	margin: 7px auto 0 auto;
	padding: 0;
	
}
.teaser-bottom-link
{
	padding: 0 0 0 15px;
	font-size: 10px;
	text-transform: uppercase;
	background: url(/Styles/images/teaser-images/cta-arrow.png) no-repeat 0 50%;
}

.clearfix
{
	zoom: 1;
}
.teaser-icon
{
	width: 100px;
	height: 100px;
	background: url(/Styles/images/teaser-images/teaser-Images.png) no-repeat 0 0;
	position: absolute;
}

.teaser1
{
	background-position: 0 0;
	left: 85px;
	&:hover
	{
		background-position: 0 -85px;
	}
}
.teaser2
{
	background-position: -105px 0;
	&:hover
	{
		background-position: -105px -85px;
	}
}
.teaser3
{
	background-position: -185px 0;
	&:hover
	{
		background-position: -185px -85px;
	}
}
.teaser4
{
	background-position: -265px 0;
	&:hover
	{
		background-position: -265px -85px;
	}
}