/* Variables.less */
/* Define base variables for use within the style sheets 
===========================================================
photoshop vector teaser images gradient colours: (Orange)
fc8231
ff944d

and background grey for drop shadow.
===========================================================
*/

// Greys
@black:             #000000;
@white:             #ffffff;
@grey: 				#808080;
@darkGrey:          darken(@grey, 90%);
@midGrey:	        darken(@grey, 75%);
@backgroundGrey:    #141517;
@lightGrey:       	lighten(@grey, 50%);

// Accent Colors
@blue:              #049CDB;
@blueDark:          #0064CD;
@green:             #46a546;
@red:               #9d261d;
@yellow:            #ffc40d;
@orange:            #f89406;
@pink:              #c3325f;
@purple:            #7a43b6;

//Other Colours
@branding:          #f3bc00;
@highlight:			#f3bc00;
@headerBackground:	#243440;
@borderBody:		@darkGrey;
@navBackground:		#dddddd;


// Links
@linkColor:         #FF944D;
@linkHover:			@white;
@menuColor:			@white;
@menuColorHover:    #FF944D;
@menuColorHoverDarker:   darken(@menuColorHover, 5%);

//Headings
@headingColor:		darken(@menuColorHover, 5%);

//Fonts
@baseFontSize:      13px;
@baseFontFamily:    "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseLineHeight:    18px;
@textColor:         @white;
@headings:			@baseFontFamily;

// Buttons
@primaryButtonBackground:    @linkColor;

// Hr border color
@hrBorder:                @lightGrey;

// GRID
// --------------------------------------------------

// Default 940px grid
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// Fluid grid
@fluidGridColumnWidth:    6.382978723%;
@fluidGridGutterWidth:    2.127659574%;
@bodyWidth:				  960px;